
header {
    background-color: white;
  }

body
{
    background-color: rgb(243, 236, 223);
    
}   

.box{
    width: 300px;
    height: 100px;
    margin: 100;
    padding: 50px;
    border: 10px solid black;
}

/*div#header  a#uga_logo
{
    float:right;
    margin-right: 45px;
    margin-top: 36px;
}*/